
.btn {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  background: white;
  border-radius: 3px;
  /* box-shadow: 0px 4px rgba(0, 0, 0, 0.2); */
  margin: 0 7px 11px 0;
  /* color: #888; */
  outline:none;
  text-align: center;
  

  /* so nobody selects the inside text on button */
  user-select: none;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;
}

.btn-small {
  line-height: 20px;
  width: 100px;
  height: 25px;
  font-size: 10px;
}

.btn-medium {
  line-height: 45px;
  width: 134px;
  height: 45px;
  font-size: 120%;
}

.btn-large {
  line-height: 80px;
  width: 100%;
  height: 85px;
  font-size: 160%;
}

/*==========  Different button styles  ==========*/

.submit {
  border:2px solid #b7de01;
  background: #b7de01;
  /* box-shadow: 0px 2px #687e00; */
  color: #4c5b00;
}
.submit:hover {
  background: #99ba01;
  /* box-shadow: 0px 2px #435100; */
  color: #4c5b00;
}
/* Imitate a pressed effect for buttons */
.submit:active {
  /* box-shadow: 0px 0px #717a33; */
  /* top: 2px; */
}


.cancel {
  border:2px solid #00ddeb;
  background: #00ddeb;
  /* box-shadow: 0px 2px #028d96; */
  color: white;
}

.cancel:hover {
  background: #01d1de;
  /* box-shadow: 0px 2px #006066; */
  color: white;
}

/* Imitate a pressed effect for buttons */
.cancel:active {
  /* top: 2px;
  box-shadow: 0px 0px #d3545d; */
}

.info {
  border: 2px solid #d9008f;
  background: #d9008f;
  /* box-shadow: 0px 2px #5f023f; */
  color: white;
}

.info:hover {
  background: #b60178;
  /* box-shadow: 0px 2px #3f002a; */
  color: white;
}

/* Imitate a pressed effect for buttons */
.info:active {
  /* top: 2px;
  box-shadow: 0px 0px #d3545d; */
}
