.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .opt-div{
    position: absolute;
    top: 120px;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
  .cur-num{
    position: absolute;
    z-index: 40;
    top: 50px;
    right: 10px;
    width: 130px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    padding: 10px;
  }
  
  #canvasDiv{
    // background-color: #deffff;
  }
}
.mt5{
  margin-top: 5px;
}
.line{
  display: flex;
  z-index:1;
  position:absolute;
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted rgb(242, 242, 242);
}
.dep-line{
  position: absolute;
  z-index:2;
  top:0px;
  left:99px;
  width: 1px;
  border-right:2px dotted rgb(242, 242, 242);
}
.g6-component-toolbar,.g6-minimap{
  z-index: 10;
}